// Cards
.card {
  font-weight: 400;
  border: 0;
  box-shadow: $z-depth-1;
  &[class*="border"] {
    border: 1px solid #eee;
    box-shadow: none;
  }
  .card-body {
    h1, h2, h3, h4, h5, h6 {
      font-weight: 400;
    }
    .card-title {
      a {
        transition: $md-card-link-transition;
        &:hover {
          transition: $md-card-link-transition;
        }
      }
    }
    .card-text {
      font-size: $md-card-font-size;
      font-weight: 400;
      color: $md-card-text-color;
    }
  }
  .md-form {
    label {
      font-weight: 300;
    }
  }
}
