@import '/public/scss/custom-variables';

.section {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 60px 55px;
  border-radius: 15px;
  box-shadow: #fcfdff 0px 0px 10px;
}

.map {
  height: 300px;
  left: 0;
  right: 0;
  margin: auto;
  .iframe_map {
    border: 0;
  }
}
