.Sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 60px 50px;
  cursor: default;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 1000;
}
