.listCongTy {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  font-family: monospace !important;

  width: 100%;
  .media {
    width: 50%;
    @media (max-width: 425px) {
      width: 100%;
    }

    display: flex;
    align-items: stretch;

    .card {
      width: 100%;
      transition: 0.3s ease-in-out;
      &:hover {
        transition: 0.3s ease-in-out;
        transform: rotate(2deg) translate(0px, -4px);
      }
      align-items: stretch;
      margin: 15px;
      box-shadow: #fcfdff 0px 0px 10px;
      // height: 100%;
      display: flex;

      border: 1px solid white;
      background-color: rgba(0, 0, 0, 0.25);
      padding: 30px;
      border-radius: 15px;

      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
      .cardHeader {
        display: flex;
        width: 100%;

        .icon_media {
          margin-right: 1.5rem;
          margin-bottom: 0;
          font-size: 3rem;
          border-radius: 50%;
          border: 1px solid white;
          padding: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100px;
          min-width: 100px;
          max-width: 100px;
          height: 100px;
          min-height: 100px;
          max-height: 100px;
          img {
            width: 60px;
            height: 60px;
          }
        }
        .title {
          font-weight: 500;
        }
      }
      .cardBody {
        margin-top: 15px;
        p {
          font-size: 1rem;

          &:last-child {
            margin-bottom: 0;
          }
          a {
            color: white;
          }
        }
      }
    }
  }
}
