.Home {
  .RowHome {
    height: max-content;
    min-height: 100vh;
    @media (max-width: 993px) {
      height: 100% !important;
    }
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    .Sidebar {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      align-content: center;
    }

    .Content {
      overflow-x: hidden;
      font-family: cursive;
      display: flex;
      align-self: stretch;
      align-items: center;
      padding: 50px 10%;
      width: 100%;
      position: relative;
      color: white;
      @media (max-width: 1024px) {
        padding: 50px 15px;
      }
    }
  }
}
