.inSidebar {
  position: fixed;
  @media (max-width: 993px) {
    position: unset;
  }

  max-width: 350px;
  margin: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  z-index: 100;
  background: #11191c;
  color: white;
  z-index: 1000;
  border-radius: 20px;
  // border-radius: 20px 50px 20px 50px;
  @media (max-width: 425px) {
    border-radius: 50px;
  }

  box-shadow: #fcfdff 0px 0px 10px;
  .main_nav {
    padding: 15px;
    font-size: 1.6rem;
    font-family: cursive;
    margin: 0;
    li {
      list-style: none;
    }
    a {
      background-image: url(/img/nav-item.png);
      background-repeat: no-repeat;
      background-position: left bottom;
      color: white;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 20px 0 40px 0;
      padding-bottom: 20px;

      &:hover,
      &:focus,
      &.active {
        background-image: url(/img/nav-item-highlight.png);
        color: #33ccff;
        text-decoration: none;
      }

      &:hover .customIcon,
      &:focus .customIcon,
      &.active .customIcon {
        border-color: #33ccff;
      }
      .customIcon {
        width: 55px;
        height: 55px;
        border-radius: 50%;
        border: 1px solid white;
        padding: 8px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-right: 35px;
      }
    }
  }
}
