.section {
  // max-width: 700px;
  box-shadow: #fcfdff 0px 0px 10px;
  .card {
    box-shadow: none;
    background-color: transparent;
    // .header {
    //   // margin-bottom: 4rem;
    // }
    .body {
      .text {
        font-family: monospace !important;
        color: white;
        font-size: 1.3rem;
      }

      .button {
        color: white;
        border: none;
        background: transparent;
        padding: 0 24px;
        font-size: 16px;
        line-height: 52px;
        font-family: 'Open Sans Condensed', sans-serif;
        position: relative;
        cursor: pointer;
        letter-spacing: 0.5px;
        z-index: 1;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 50%;
          height: 50px;
          background: transparent;
          border: 2px solid #4ab9f2;
          border-radius: 5px;
          z-index: -1;
          transition: 0.3s ease-in-out;
        }
        &:after {
          content: '';
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          height: 30px;
          width: 80%;
          z-index: -1;
          transition: 0.3s linear;
          background: #fb3;
        }
        &:hover:after {
          opacity: 0;
          background: #4ab9f2;
        }
        &:hover {
          color: #fff;
        }
        &:hover:before {
          width: 100%;
          background: #4ab9f2;
          box-shadow: 0 10px 90px -2px rgba(#000, 0.2);
        }
      }
    }
  }
}
