.sanpham {
  .container {
    .slider {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 100%;
      li {
        text-align: center;
        transition: 0.3s ease-in-out;
        // padding: 15px;
        display: inline-block;

        // .description {
        // }

        // width: 50%;
        img {
          width: 300px;
          height: auto;
        }

        &:hover {
          transition: 0.3s ease-in-out;
          transform: translate(-2px, 4px);
          iframe,
          img {
            box-shadow: 0 0.5rem 1rem #33b5e5;
          }
        }

        @media (max-width: 425px) {
          width: 100%;
        }

        a {
          display: block;

          iframe {
            margin: 15px;
            overflow: hidden;
            border-radius: 15px;
            border: none;
            min-height: 400px;
            height: 500px;
          }

          img {
            margin: 15px;
            box-shadow: #fcfdff 0px 0px 10px;
            border-radius: 15px;
          }
        }
      }
    }
  }
}
