@import '/public/scss/custom-variables';

.container {
  margin-top: 6rem;
}

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: white;
  overflow-x: hidden;
  min-height: 100vh;
  height: 100%;
  position: relative;
  background: #222222;
}
